body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3b3737f6;
}

a {
  color: #00B7FF;
}

.d-flex {
  Border: 3px Solid red ;
  }

.p-4 {
    Border: 3px Solid red ;
    }