@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {  
  font: 14px 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(to top, gray, white);
}

header {
  font: 14px 'Abhaya Libre', serif;
}

.select-rounded{
  border-radius: 15px;
}

.main_container {
  display: flex;
  }

.form_container {
  border: 3px Solid rgb(98, 0, 255) ;
  padding: 100px;
  font-size: 20px;
  }

.result_container {
    border: 3px Solid rgb(98, 0, 255) ;
    padding: 300px;
    }    